<button class="main__button main__button--{{name}}" id="{{id}}" onclick="handleButtonRegister('{{id}}')">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="16px" height="16px">
    {{{icon}}}
  </svg>
  {{text}}
</button>
